/* style all the containers */
#container {
    width: 1050px;
/*    border: 5px solid grey;*/
    margin: 0 auto;
}


#header {
    height: 100px;
    padding: 10px 0;
}

#title {
    float: left;
}

/*All links in an h1*/
h1 a {
    font-size: 50px;
    font-weight: 0;
    color: mediumpurple;
    text-decoration: none; /* so there's underline the link */
}

#searchbox {
    background: linear-gradient(green,yellow);
    height: 40px;
    width: 400px;
    float: right;
    padding: 10px 15px 0px 15px;
    margin-top: 20px;
    border-style: groove;
    border-color: gray;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 12px;
    color: red;
    padding: 5px;
    background: white url(images/searchicon.png) right center no-repeat;
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: purple;
}

.clear {
    clear: both;
}

#menu {
    height: 70px;
    background: linear-gradient(yellow,gold);
    padding: 10px 0;
}

ul {
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 0px 30px;
    height: 30px;
    border-right: 2px solid purple;
}

#menu ul li:last-child {
    border-right: none;
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color:purple;
    line-height:30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: purple;
}

#introduction {
    background: linear-gradient(greenyellow, lightgreen, greenyellow);
    padding: 30px;
    margin: 20px 0;
}

#introduction h3 {
    font-size: 45px;
    color: green;
    font-weight: normal;
}

#introduction p {
    font-size: 27px;
    color: green;
    text-align: justify;
}

.sidebar {
    height: 500px;
    width: 450px;
    border: 5px solid purple;
    border-radius: 20px;
    padding: 15px 30px;
}

.sidebar h3 {
    color: purple;
    font-size: 30px;
}

.sidebar ul a {
    text-decoration: none;
    font-size: 22px;
    color: blueviolet;
}

#leftsidebar ul {
    padding-top: 15px;
}

#leftsidebar ul li {
    padding-bottom: 6px;
    padding-left: 12px;
    list-style-image: url(images/arrowBullet.png);
}

#rightsidebar ul li {
    list-style-image: url(images/checkmark.png);
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    text-decoration: none;
    color: purple;
    font-size: 25px;
    font-weight: bold;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#leftsidebar {
    float: left;
}

#rightsidebar {
    float: right;
}